<p>add-post works!</p>
<form [formGroup]="addPostForm" (ngSubmit)="onSubmit()" class="addPost" enctype="multipart/form-data" >

    <label for="title">Title: </label>
    <input id="title" type="text" formControlName="title">

    <div *ngIf="addPostForm.controls['title'].invalid && addPostForm.controls['title'].touched">
      <div *ngIf="addPostForm.controls['title'].errors?.['required']">
        Title is required.
      </div>
      <div *ngIf="addPostForm.controls['title'].errors?.['minlength']">
        Title must be at least 2 characters long.
      </div>
    </div>

    <label for="content">Content: </label>
    <input id="content" type="text" formControlName="content">

    <div *ngIf="addPostForm.controls['content'].invalid && addPostForm.controls['content'].touched">
      <div *ngIf="addPostForm.controls['content'].errors?.['required']">
        Content is required.
      </div>
      <div *ngIf="addPostForm.controls['content'].errors?.['minlength']">
        Content must be at least 2 characters long.
      </div>
    </div>

    <!-- <label for="filedata">Image: </label>
    <input id="filedata" type="file" formControlName="filedata"  (change)="onFileSelected($event)"> -->
    <!-- <label for="filedata">Image: </label>
    <input id="filedata" type="file" accept="image/*" (change)="onFileSelected($event)"> -->
    <form [formGroup]="formGroup"  (ngSubmit)="onSubmit()" class="addPostImage">
      <label for="filedata">Image: </label>
      <input type="file" (change)="onFileChange($event)" />
    </form>

    <label for="tag">Tags: </label>
    <input id="tag" type="text" formControlName="tag">

    <button type="submit" [disabled]="!addPostForm.valid" (click)="addPost()">Add Post</button>
  
  </form>

  