.menu {
    display: flex;
    gap: 20px;
    width: 100%;
    padding: 15px;
    justify-content: left;
    align-items: center;
    background-color: rgb(189, 189, 189);
    a {
        font-size: 20px;
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
    a:hover {
        color: rgb(63, 63, 63);
    }
    button {
        border: 1px solid #686868;
        border-radius: 5px;
        padding: 5px;
    }
    button:hover {
        background-color: #686868;
    }
}