<p>posts works!</p>

<div class="posts">
    <div *ngFor="let post of posts" class="post">
        <p>Title:</p>
        <p>{{post.title}}</p>
        <p>Content:</p>
        <p>{{post.content}}</p>
        <p>Image:</p>
        <img src="https://via.placeholder.com/200x200/258DC8/E0F6FD" alt="">
        <p>Autor:</p>
        <p>{{post.Users.firstName}} {{post.Users.lastName}}</p>
        <div class="tags">
            <p *ngFor="let tag of post.Tag" >{{tag.tag}}</p>
        </div>
        <a routerLink="/{{post.id}}">Read Post</a>
    </div>
</div>