<p>posts works!</p>

<div class="posts">
    <div *ngFor="let post of posts" class="post">
        <p>Title:</p>
        <p>{{post.title}}</p>
        <p>Content:</p>
        <p>{{post.content}}</p>
        <p>Image:</p>
        <img src="https://via.placeholder.com/200x200/258DC8/E0F6FD" alt="">
        <p>Autor:</p>
        <p>{{post.Users.firstName}} {{post.Users.lastName}}</p>
        <div class="tags">
            <p *ngFor="let tag of post.Tag" >{{tag.tag}}</p>
        </div>
        <div class="like-blok">
            <div [ngClass]=" {likeAuth: show, noLikeAuth: none}">
                <img src="https://play-lh.googleusercontent.com/6Ary86oQx3irIDgH-iT-jOXxdFmsx2mdR9LkOqknoCbZzGNTCUPIyZD9c92htPzCJw" alt="" class="img" (click)="like()">
            </div>
            <div [ngClass]=" {likeNoAuth: showL, noLikeNoAuth: noneL}">
                <img src="https://icons.veryicon.com/png/o/miscellaneous/ui-basic-linear-icon/like-106.png" alt="" class="img" (click)="like()">
            </div>
            <p>Like:{{post.Like.length}}</p>
            <a routerLink="/{{post.id}}">Read Post</a>
        </div>
        
    </div>
</div>