<p>read-post works!</p>
<div class="box">
    <div [ngClass]=" {postCard: showPost, nonePost: closePost}" >
        <p>Title:</p>
        <p>{{post.title}}</p>
        <p>Content:</p>
        <p>{{post.content}}</p>
        <p>Image:</p>
        <img src="http://localhost:3000/image/{{post.image}}" class="image">
        <p>Autor:</p>
        <p>{{post.Users.firstName}} {{post.Users.lastName}}</p>
        <div class="tags">
          <p *ngFor="let tag of post.Tag" >{{tag.tag}}</p>
        </div>
        
        
        <div *ngIf="user">
          <div class="like-blok">
            <div [ngClass]=" {likeAuth: show, noLikeAuth: none}">
                <img src="https://play-lh.googleusercontent.com/6Ary86oQx3irIDgH-iT-jOXxdFmsx2mdR9LkOqknoCbZzGNTCUPIyZD9c92htPzCJw" alt="" class="img" (click)="like()">
            </div>
            <div [ngClass]=" {likeNoAuth: showL, noLikeNoAuth: noneL}">
                <img src="https://icons.veryicon.com/png/o/miscellaneous/ui-basic-linear-icon/like-106.png" alt="" class="img" (click)="like()">
            </div>
            <p>Like:{{counter}}</p>
        </div>
          <button type="submit" (click)="delete()">Delete Post</button>
          <button type="submit" (click)="edit()">Edit</button>
        </div>
        <p *ngIf="proverka">It is not yuors POST!!!</p>
    </div>
   <div [ngClass]=" {modal: showModal, nonePost: closeModal}" >
        <form [formGroup]="Form"  class="addPost" enctype="multipart/form-data">
    
            <label for="title">Title: </label>
            <input id="title" type="text" formControlName="title" >
        
            <div *ngIf="Form.controls['title'].invalid && Form.controls['title'].touched">
              <div *ngIf="Form.controls['title'].errors?.['required']">
                Title is required.
              </div>
              <div *ngIf="Form.controls['title'].errors?.['minlength']">
                Title must be at least 2 characters long.
              </div>
            </div>
        
            <label for="content">Content: </label>
            <input id="content" type="text" formControlName="content">
        
            <div *ngIf="Form.controls['content'].invalid && Form.controls['content'].touched">
              <div *ngIf="Form.controls['content'].errors?.['required']">
                Content is required.
              </div>
              <div *ngIf="Form.controls['content'].errors?.['minlength']">
                Content must be at least 2 characters long.
              </div>
            </div>
        
            <label for="filedata">Image: </label>
            <input id="filedata" type="file" formControlName="filedata">
            
            <button type="submit" [disabled]="!Form.valid" (click)="editPost()">Edit</button> 
            <button type="submit" (click)="edit()">Сancel</button>
           </form>
    </div> 
    
</div>


    
